.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  --grid-gutter: 15px;
}

.grid-child {
  width: calc(100% * (1/2) - 30px);
  margin: var(--grid-gutter);
}

@media (min-width: 768px){
  .grid-child {
    width: calc(100% * (1/3) - 30px);
    margin: var(--grid-gutter);
  }
}

@media (min-width: 992px){
  .grid-child {
    width: calc(100% * (1/4) - 30px);
    margin: var(--grid-gutter);
    height: calc(100% * (1/4) - 30px);
  }
}

